@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Cairo', sans-serif;
}

.app{
  min-height:100vh;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz7WnqKpeACWV9Et8W2v7HOS4UpXPzr_YxblX5Ij9OFw&s=10");
  background-size:cover;
  background-position:center;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}

.overlay{
  position:absolute;
  inset:0;
  background:linear-gradient(to bottom, rgba(15,61,46,0.85), rgba(0,0,0,0.85));
}

.content{
  position:relative;
  z-index:2;
  width:100%;
  max-width:1200px;
  color:white;
  text-align:center;
}

header h1{
  font-size:2.5rem;
  color:#d4af37;
  margin-bottom:20px;
}
header h3{
  margin-bottom: 10px;
}
/* كروت الصلاة */

.pray-times{
  display:grid;
  
  grid-template-columns:repeat(auto-fit, minmax(180px,1fr));
  gap:20px;
  margin-bottom:40px;
}

/* شكل كرت الصلاة */
.pray-card{
  background:rgba(255,255,255,0.1);
  backdrop-filter:blur(10px);
  border:1px solid rgba(255,255,255,0.2);
  padding:20px;
  border-radius:15px;
  transition:0.3s;
}

.pray-card:hover,.is-next{
  transform:translateY(-5px);
  border-color:#d4af37;
}

.pray-card h3{
  font-size:1.3rem;
  margin-bottom:10px;
}

.pray-card p{
  font-size:1.2rem;
  color:#d4af37;
}

/* القسم السفلي */

.bottom-section{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:20px;
}

select{
  padding:10px 20px;
  border-radius:10px;
  border:none;
  font-size:1rem;
  background:#d4af37;
  color:#0f3d2e;
  cursor:pointer;
}

.next-pray  span{
  font-size: 2rem;
  color:#d4af37;
  font-weight: bold;
  background:rgba(255,255,255,0.1);
  backdrop-filter:blur(10px);
  border:1px solid rgba(255,255,255,0.2);
  padding: 3px;
  border-radius:15px;
  margin-top:15px
  
}
/* Responsive */

@media (max-width:768px){
  header h1{
    font-size:1.8rem;
  }

  .pray-times{
    grid-template-columns:repeat(auto-fit, minmax(140px,1fr));
  }
}

@media (max-width:480px){
  .pray-times{
    grid-template-columns:1fr;
  }
}